* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    display: flex;
    box-sizing: border-box;
    background-image: linear-gradient(to bottom, #0E2E55,#2B5384);
    width: 100vw;
    min-height: 100vh;
}

.main {
    margin: auto;
    width: 30vw;
    height: 60vh;
    background-color: #fff;
    border-left: 3px solid #016ff5c5;
}

.main h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #016FF5;
    margin: 5%;
}

label {
    text-transform: uppercase;
    color: #3F79BF;
    margin: 5%;
}

input {
    width: 90%;
    margin: 3.7% 1.7%;
    padding: 2%;
    border-bottom: 2px solid #206CC9;
    border-top: 0;
    border-right: 0;
    border-left: 0;
}

.fim {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.fim button {
    padding: 2.5%;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: bold;
    color: #fff;
    background-color: #206CC9;
    cursor: pointer;
    border: 1px solid white;
}

input:focus:invalid {
    outline: 0;
    border-bottom: 2px solid red;
}

.fim button:hover {
    transition: .5s;
    transition-property: all;
    color: #206CC9;
    background-color: white;
    border: 1px solid white;
}